
:root {
  --blu-text: #2196F3;
  --blak-text: #212121;
  --grey-text: #757575;
  --white-text: #FFFFFF;
  --text-color: rgba(255, 255, 255, 0.6);
  --card-set: 30px;
}

body {
  font-family: Roboto,sans-serif;
  font-style: normal;
  margin: 0;
}

.container {

  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
 /* outline: 2px solid tomato;*/
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn {
  padding: 9px 32px 9px 32px;
  display: inline-block;
  color: var(--white-text);
  /*background-color: var(--blu-text);*/
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
  border-radius: 4px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}

header.container, { 
  display: flex;
}

.link-nav,
.site-nav,
.contact-nav {
  display: flex;
}

.site-nav {
  padding-right: 331px;
}

.site-nav li {
  margin-left: 50px;
}

.site-nav li:first-child{
  margin-left: 93px;  
}

.contact-nav li:first-child {
  margin-right: 40px;
}

.link-nav {
  align-items: center;
}

.header {
  background-color: #FFFFFF;  
}

.logo {
  width: 145px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: inline-block;

  color: var(--blu-text);
  font-family: Raleway,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
 
}

.logoblak {
  color: var(--blak-text);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  
}


.site-nav .link.current{
  color: var(--blu-text);
} 

.link {
  margin-top: 32px 16px;
  display: inline-block;
 
  
  color: var(--blak-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
 
  
 
}

.lin {
  margin-top: 32px 16px;
  Width: px;
  display: inline-block;

  color: var(--grey-text);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.lin:hover{
  color: var(--blu-text);  
}

.section-background {

  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2F303A;
}

.section {
  margin-bottom: 39px;

  color: var(--white-text);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  
}

.section-btn {
  margin: 0 auto;
  display: inline-block;
  background-color: var(--blu-text);

  color: var(--white-text);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
}

.list-text-list {
  padding-top: 57px;
}

.list-item-li:nth-child(n + 2){
  margin-left: 30px;
  display: block;
}

.list-item {
  justify-content: space-between;
  display: flex;
  /*outline: 2px solid tomato;*/
}
 
.list {
  margin-bottom: 10px;

  color: var(--blak-text);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
}

.list-text {
  color: var(--grey-text);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.images {
  padding-top: 106px;
}

.bold {
  margin-bottom: 50px;

  color: var(--blak-text); 
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.list-img {
  display: flex;
}

.li-img {
  margin-right: 30px;
  display: block;
}

.staff {
  padding-top: 96px;
  background-color: #F5F4FA;
}

.staff-list {
  display: inline-flex;
}

.staff-li:nth-child(n+2){
  margin-left: 30px;
}

.staff-text {
  padding: 30px 0px 30px 0px ;
  text-align: center;
}

.staff-people {
  margin-bottom: 10px;

  color: var(--blak-text);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.profession {
  color: var(--grey-text);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
}

.footer {
  padding-bottom: 60px;
  background-color: #2F303A;
}

.logowhite {

  color: var(--white-text);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19
}


.address {

  color: var(--white-text);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.mail-nomber-m {
  color: var(--text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}


.mail-nomber {
  color: var(--text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.cards {
  padding-top: 94px;
  padding-bottom: 120px;
}
 
.list-btn:nth-child(n+2) {
  padding-left: 8px;
}

.lists-btn {
  margin-left: 8px;
  justify-content: center;
  display: flex;

}

.list-btn :hover{
  background-color: var(--blu-text);  
}

.botton {
  margin: 0 auto;
  display: inline-block;
  

  font-family: inherit;
  color: var(--blak-text);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  background: #F5F4FA;
  border-radius: 4px;
}

.botton:hover {
  color: var(--white-text); 
}

.card-set {
  padding-top: 33px;
  display: flex;
  flex-wrap: wrap;

  /*outline: 2px solid rgb(17, 68, 209);*/
  list-style: none;

  margin-left: calc( -1 * var(--card-set));
  margin-top: calc( -1 * var(--card-set));
}


.card-set > .item-card {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: var(--card-set);
  margin-top: var(--card-set);
  

  /*outline: 1px solid rgb(14, 241, 44);*/
}

.card-product {
  padding: 20px 24px;
}

.product {
  color: var(--blak-text);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  /*outline: 1px solid rgb(14, 241, 44);*/
}

.product-name {
  margin-top: 4px;

  color: var(--grey-text);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
 /* outline: 1px solid rgb(14, 241, 44);*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
